* { 
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body { 
   padding: 50px;
   background: #7002a3;
   font-family: system-ui;
}

#container { 
   display: flex;
   justify-content: center;
}